.invoice-card {
  width: 730px;
  height: 72px;
  background: var(--card-color);
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 16px;
  cursor: pointer;
}

.invoice-total {
  color: var(--font-color-white);
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-family: "SpartanBold";
  text-align: right;
}

.invoice-text {
  font-size: 12px;
  line-height: 15px;
  color: #888eb0;
  text-align: left;
}

.invoice-id {
  font-family: "SpartanBold";
  color: var(--font-color-white);
}
