.edit-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .edit-modal-content {
    width: calc(100vw / 4);
    background-color: var(--modal-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--box-shadow);
  }

  .edit-modal-content h2{
    text-align: center;
  }
  
  .modal-input {
    width: 95%;
    padding: 10px;
    margin: auto auto;
    margin-bottom: 20px;
    border: 1px solid var(--input-box-border);
    background: var(--input-box-color);
    border-radius: 4px;
    color: var(--font-color-white);
  }
  
  .modal-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20;
    gap: 20px;
  }  

  @media only screen and (max-width: 767px) {
    .edit-modal-content {
      width: calc(100vw / 1.5);
    }
  }