.action-button {
  border-radius: 24px;
  font-size: 12px;
  line-height: 15px;
  font-family: "SpartanBold";
  padding: 15px 24px;
  cursor: pointer;
  text-align: center;
  border: none;
  /* width: calc(100vw / 20); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-button:hover[value="Edit Button"]{
  background: var(--color-white);
}

@media only screen and (max-width: 767px) {
  .action-button {
    width: calc(100vw / 4);
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 15px 30px; */
  }
}

@media only screen and (max-width: 400px) {
  .action-button {
    font-size: 11px;
    /* padding: 15px 40psx; */
    overflow: initial;
  }
}