.view-invoice-header {
  width: 730px;
  height: 88px;
  margin: auto;
  background: var(--card-color);
  box-shadow: var(--box-shadow);
  color: var(--font-color-white);
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 16px;
  margin-top: 32px;
}
.view-invoice-header div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.view-invoice-content {
  background: var(--card-color);
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  width: 730px;
  margin: auto;
}
.view-invoice-content .head {
  display: flex;
  justify-content: space-between;
  padding: 20px 48px;
}
.view-invoice-content .title {
  color: var(--font-color-light);
  font-size: 12px;
  line-height: 15px;
}
.view-invoice-content .title h5 {
  color: var(--font-color-white);
  font-family: "SpartanBold";
  font-size: 16px;
  line-height: 15px;
}
.view-invoice-address {
  font-size: 11px;
  line-height: 18px;
  color: var(--font-color-light);
  text-align: right;
}
.view-invoice-details {
  display: flex;
  justify-content: space-around;
  text-align: left;
}
.view-invoice-details h5 {
  color: var(--font-color-white);
  font-family: "SpartanBold";
  font-size: 15px;
}
.view-invoice-details p {
  color: var(--font-color-light);
  font-size: 12px;
}
.price-card {
  border-radius: 8px 8px 0px 0px;
  background: var(--card-color2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.price-card-wrapper {
  margin: 45px 48px 0px 48px;
  margin-bottom: 20px;
}
.invoice-table {
  width: 634px;
  margin: auto;
  padding: 32px 0px 32px 10px;
}
.invoice-table th {
  text-align: left;
  font-size: 11px;
  line-height: 18px;
  color: var(--font-color-light);
  padding: 15px;
}
.invoice-table td {
  color: var(--font-color-white);
  font-family: "SpartanBold";
  line-height: 18px;
  padding: 15px;
}
.total-tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 32px 0px 32px;
  background: var(--card-color3);
  border-radius: 0px 0px 8px 8px;
}
.total-tag p {
  color: #ffffff;
  font-size: 11px;
}
.total-tag h5 {
  color: #ffffff;
  font-family: "SpartanBold";
  font-size: 24px;
}
.back-button {
  width: 730px;
  margin: auto;
  display: flex;
  margin-top: 20px;
  /* justify-content: center; */
  align-items: center;
  color: var(--font-color-white);
  font-family: "SpartanBold";
  font-size: 12px;
  line-height: 15px;
  gap: 15px;
  cursor: pointer;
}
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: var(--modal-color);
  color: var(--font-color-light);
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  padding: 50px 40px;
  width: 400px;
  align-items: start;
  text-align: left;
}
.modal-content div {
  display: flex;
  /* width: 100%; */
  align-items: center;
  float: right;
  gap: 10px;
  width: 188px;
  height: 48px;
}
.modal-content h3 {
  margin: 0;
  font-size: 24px;
  line-height: 32px;
  font-family: "SpartanBold";
  color: var(--font-color-white);
}
.modal-content p {
  font-size: 12px;
  line-height: 22px;
  color: var(--font-color-light);
}
.items-row thead, tbody{
  padding: 10px;
}
.items-row td{
  background: var(--input-box-color);
  padding: 15px;
  border-radius: 4px;
  border: 1px solid var(--input-box-border);
}
.items-row td:last-child{
  background-color: var(--modal-color);
  border: none;
  cursor: pointer;
}
.spacer{
  padding: 10px;
}

@media only screen and (max-width: 767px) {
  .view-invoice-header, .view-invoice-content{
    width: 80%;
  }
  
}