.invoice-header {
  width: calc(100vw / 2 + 32px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 20px;
}
.invoice-title h1 {
  font-family: "SpartanBold";
  text-align: left;
  font-size: 32px;
  line-height: 36px;
  color: var(--font-color-white);
}
.invoice-title p {
  font-size: 12px;
  line-height: 15px;
  color: var(--font-color-purple);
}
.invoice-filter {
  font-size: 12px;
  line-height: 15px;
  font-family: "SpartanBold";
  margin-right: 40px;
  color: var(--font-color-white);
  cursor: pointer;
}
.invoice-action {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.empty-invoice-wrapper {
  color: var(--font-color-white);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.empty-invoice {
  margin-bottom: 64px;
}
.empty-invoice p {
  max-lines: 2;
}
.create-invoice-wrapper {
  color: var(--add-item-button-color);
}
.create-invoice-wrapper h5 {
  color: var(--font-color-white);
  font-family: "SpartanBold";
  font-size: 24px;
  line-height: 18px;
}
.create-invoice-wrapper label {
  font-size: 12px;
  line-height: 15px;
  color: var(--font-color-light);
}
.create-invoice-wrapper p {
  color: #7c5dfa;
  font-size: 12px;
  line-height: 15px;
}
.input-boxes {
  background: var(--input-box-color);
  border: 1px solid var(--input-box-border);
  border-radius: 4px;
  padding: 10px 10px;
  margin: 15px 0px;
  text-align: left;
  color: var(--font-color-light);
  color-scheme: var(--date-icon-color);
}
select {
  background-color: var(--input-box-color);
  border: 1px solid var(--input-box-border);
  color: var(--font-color-white);
  width: 200px;
  border-radius: 4px;
  padding: 10px 10px;
  margin: 15px 0px;
}
option {
  padding: 10px;
}
.bill-row {
  display: flex;
  gap: 45px;
  width: 85%;
}
.bill-row input {
  width: 100%;
}
.fill {
  width: 85%;
}
.item-list h3 {
  color: #777f98;
}
.item-list table {
  width: 85%;
  font-size: 12px;
  color: var(--font-color-light);
}
.item-list-btn {
  width: 80%;
  color: var(--add-item-button-color);
  background: var(--add-item-button-bg);
  text-align: center;
  padding: 17px;
  border-radius: 24px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 15px;
  font-family: "SpartanBold";
  cursor: pointer;
  margin-top: 16px;
}
.action-btn-wrapper {
  width: 90%;
}
.action-btn {
  width: 75%;
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.action-btn div {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: end;
}
.action-container {
  width: calc(100% - 5px);
  position: absolute;
  right: 0;
  left: 50px;
  margin: 0;
  padding: 5px;
  background: var(--input-box-color);
  border-radius: 26px 26px 0px 0px;
  padding-left: 0;
  transform: translate(-50px, 10px);
  display: flex;
  justify-content: center;
}

.dropdown-container {
  position: relative;
}

.dropdown-trigger {
  padding: 8px;
  cursor: pointer;
}

.dropdown-options {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  list-style: none;
  padding: 10px 24px;
  background-color: var(--card-color);
  box-shadow: var(--box-shadow);
  border-top: none;
  border-radius: 8px;
}

.dropdown-options label {
  padding: 10px 0px;
}

.radio-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radio-label input[type="radio"] {
  display: none;
}

.radio-custom {
  width: 16px;
  height: 16px;
  border: 2px solid var(--secondary-color-opacity);
  border-radius: 4px;
  margin-right: 10px;
}

.radio-label input[type="radio"]:checked + .radio-custom {
  border-color: var(--secondary-color-opacity);
  background-color: var(--secondary-color);
  text-align: center;
}
.filter-text {
  margin-right: 16px;
}

.responsive-action-btn {
  display: none;
}

.back-btn {
  display: none;
}

.responsive-action-btn-wrapper{
  position: relative;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .invoice-header {
    margin-top: 80px;
    width: calc(100vw - 50px);
  }

  .invoice-title h1 {
    font-size: 27px;
  }

  .invoice-filter {
    margin-right: 5px;
  }

  .filter-text {
    margin-right: 8px;
  }

  .by-status {
    display: none;
  }

  .action-btn-wrapper {
    display: none;
  }

  .bill-row select {
    width: 120%;
  }

  .bill-row input[type="date"] {
    width: 80%;
  }

  .input-boxes {
    width: 75%;
  }

  .item-list-btn {
    width: 75%;
  }

  .bill-row {
    width: 75%;
  }

  .action-btn {
    /* margin: 5px; */
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* width: 100%; */
  }

  .responsive-action-btn {
    display: flex;
    width: 80%;
  }
  .responsive-action-btn span{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 20px 0px;
    /* margin-top: 50px; */
  }
  .responsive-action-btn span div{
    display: flex;
    gap: 10px;
  }

  .responsive-action-btn-wrapper{
    position: absolute;
    left: 0;
    width: 100%;
    background: var(--card-color);
  }

  .back-btn {
    margin: auto;
    display: flex;
    margin-top: 100px;
    align-items: center;
    color: var(--font-color-white);
    font-family: "SpartanBold";
    font-size: 12px;
    line-height: 15px;
    gap: 15px;
    cursor: pointer;
  }
  .dropdown-options {
    width: 150%;
  }
}
