/* .light-theme {
  --primary-color: #373b53;
  --secondary-color: #7c5dfa;
  --secondary-color-opacity: #9277ff;
  --font-color-purple: #888eb0;
  --font-color-black: #0c0e16;
  --bg-color: #f8f8fb;
} */

/* .dark-theme {
  --primary-color: #373b53;
  --secondary-color: #7c5dfa;
  --secondary-color-opacity: #9277ff;
  --font-color-light: #dfe3fa;
  --font-color-white: #ffffff;
  --bg-color: #141625;
} */
