@font-face {
  font-family: "SpartanRegular"; /*Can be any text*/
  src: local("SpartanRegular"),
    url("./assets/font/Spartan-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "SpartanLight"; /*Can be any text*/
  src: local("SpartanLight"),
    url("./assets/font/Spartan-Light.ttf") format("truetype");
}
@font-face {
  font-family: "SpartanBold"; /*Can be any text*/
  src: local("SpartanBold"),
    url("./assets/font/Spartan-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "SpartanMedium"; /*Can be any text*/
  src: local("SpartanMedium"),
    url("./assets/font/Spartan-Medium.ttf") format("truetype");
}

:root {
  --color-white: #ffffff;
  --primary-color: #373b53;
  --secondary-color: #7c5dfa;
  --secondary-color-opacity: #9277ff;
  --font-color-purple: #888eb0;
  --font-color-black: #0c0e16;
  --bg-color: #f8f8fb;
  --card-color: #ffffff;
  --card-color2: #F9FAFE;
  --card-color3: #373B53;
  --box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  --edit-color: #f9fafe;
  --delete-color: #ec5757;
  --mark-color: #7c5dfa;
  --input-box-color: var(--color-white);
  --input-box-border:#DFE3FA;
  --modal-color: var(--color-white);
  --add-item-button-bg: #F9FAFE;
  --add-item-button-color: #7E88C3;
  --date-icon-color: light;
  --add-invoice-hover: #9277FF;
  --delete-hover: #FF9797;
  --edit-hover: #DFE3FA;
  --mark-hover: var(--add-invoice-hover);
}
[data-theme="dark"] {
  --color-white: #ffffff;
  --primary-color: #373b53;
  --secondary-color: #7c5dfa;
  --secondary-color-opacity: #9277ff;
  --font-color-light: #dfe3fa;
  --font-color-white: var(--color-white);
  --font-color-status: #dfe3fa11;
  --bg-color: #141625;
  --card-color: #1E2139;
  --card-color2: #252945;
  --card-color3: #0C0E16;
  --box-shadow: 0px 10px 10px -10px rgba(43, 45, 62, 0.1);
  --edit-color: #252945;
  --delete-color: #ec5757;
  --mark-color: #7c5dfa;
  --input-box-color: #1E2139;
  --input-box-border: #252945;
  --modal-color: #141625; 
  --add-item-button-bg: #252945;
  --add-item-button-color: var(--color-white);
  --date-icon-color: dark;
  --add-invoice-hover: #9277FF;
  --edit-hover: var(--color-white);
  --mark-hover: var(--add-invoice-hover);
}

* {
  transition: all 0.3s ease-in-out;
}

body {
  margin: 0;
  background: var(--bg-color);
  font-family: "SpartanRegular";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
